@import url(http://fonts.googleapis.com/css?family=Raleway:500,700);

body {
	font-family: 'Raleway', sans-serif;
	background: #F9F9F9;
}

.shadow {
	-webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.24);
}

.bold { font-weight: bold; }

.sameline { display: inline-block; }
.hidden { display: none; }

.rightmargin { margin-right: 5px; }
.center { float: none; margin-left: auto; margin-right: auto; }
.required {color: #CC181E;}

a > h4 { color: #F5F5F5; }

.header {
	padding-top: 100px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	background-color: #019EC3;
	color: white;
	font-weight: bold;
}

.footer {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #DDDDDD;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-top: 50px;
	margin-bottom: 0px;
}

.navbar-default { opacity: 0.97; }
.navbar-brand > i, .navbar-brand > b {color: #019EC3;}
.navbar-brand > b { display: inline-block; margin-left: 5px; margin-right: 5px;}
.navbar-brand > small { font-size: small; }

.panel {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.panel > .panel-heading > .panel-title { font-weight: bold; }

.panel-info > .panel-heading { border-width: 3px; border-color: #42C2E1; background-color: #019EC3;}
.panel-info > .panel-heading > .panel-title { color: white; }
.btn-info { border-color: #42C2E1; background-color: #019EC3; }

.input-group-addon { min-width: 100px;}

#output { font-family: monospace; }